.header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  color: #05386B;
}

.header__logo {
  height: 100%;
}

.header__links {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}